@import './base.css';
@import "tailwindcss";

body {
  background-color: white;
  color: black;
}

h1 {
  font-size: 56px;

  @media (max-width: 1024px){
      font-size: 32px;
  }

}

nav a {
  margin-left: 10px;
  margin-right: 10px;
}

a:hover {
  color: green;
}