@import './base.css';
@import "tailwindcss";

body {
  background-color: white;
  color: black;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;

  min-height: 900px;

  @media (max-width: 1024px) {
    min-height: 450px;

    margin-top: 75px;
  }
}

h1 {
  font-size: 56px;

  @media (max-width: 1024px) {
    font-size: 32px;
  }

}

nav a {
  margin-left: 10px;
  margin-right: 10px;
}

a:hover {
  color: green;
}

button:hover {
  color: red;
}